{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="container text-center list-group-horizontal">
        <a href="{% url 'modify company' object.pk %}"><img class="img_size" src="{% static 'images/compose_48.png' %}"
                                                            title="Modify"
                                                            alt="Modify"></a>
        {% if object.is_active %}

            <a href="{% url 'act deact company' "deactivate" object.pk %}"><img class="img_size"
                                                                                src="{% static 'images/off_64.png' %}"
                                                                                title="Deactivate"
                                                                                alt="Deactivate"></a>
        {% else %}

            <a href="{% url 'act deact company' "activate" object.pk %}"><img class="img_size"
                                                                              src="{% static 'images/on_48.png' %}"
                                                                              title="Activate"
                                                                              alt="Activate"></a>
        {% endif %}
    </div>

    <div class="container">
        <label class="col-sm-4 col-form-label">Company Contract</label>
        <div class="form-group">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Contract Number</th>
                    <th scope="col">Valid To</th>
                    <th scope="col">Active Subscription</th>
                    <th scope="col">Active Accounts</th>
                    <th scope="col">Restricted Accounts</th>
                    <th scope="col">Blocked Accounts</th>
                    <th scope="col">Last Modified</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.contract_number }}</td>
                    <td>{{ object.valid_to }}</td>
                    <td>{{ object.is_active }}</td>
                    <td>
                        {% for customer in customer_active %}
                            <p>{{ customer.email }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for customer in customer_restricted %}
                            <p>{{ customer.email }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for customer in customer_blocked %}
                            <p>{{ customer.email }}</p>
                        {% endfor %}
                    </td>
                    <td>{{ object.update_time }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock %}