{% extends 'base/base.html' %}
{% load static %}
{% load verify_perm %}
{% load feedback_value %}
{% block content %}

    <meta http-equiv="refresh" content="30"/>

    <div class="container">
    <label class="col-sm-4 col-form-label"></label>

    <div class="container text-center list-group-horizontal">
        {% if item.is_active %}
            {% if user|has_group:"Customer" or user|has_group:"Support" or user|has_group:"Supervisor" %}

                <a href="{% url 'modify ticket' item.pk %}"><img class="img_size"
                                                                 src="{% static 'images/new/compose_48.png' %}"
                                                                 title="Modify"
                                                                 alt="Modify"></a>

                <a href="{% url 'create entry' item.pk %}"><img class="img_size"
                                                                src="{% static 'images/info_48.png' %}"
                                                                title="Add a Note"
                                                                alt="Add a Note"></a>
            {% endif %}
            {% if user|has_group:"Supervisor" %}
                <a href="{% url 'assign ticket' item.pk %}"><img class="img_size"
                                                                 title="Assign"
                                                                 src="{% static 'images/user_48.png' %}" alt="Assign"></a>

                <a href="{% url 'delete ticket' item.pk %}"><img class="img_size" src="{% static 'images/delete_48.png' %}"
                                                                 title="Delete"
                                                                 alt="Delete"></a>
            {% endif %}
            {% if user|has_group:"Customer" or user|has_group:"Supervisor" %}
                <a href="{% url 'close ticket' item.pk %}"><img class="img_size" src="{% static 'images/lock_48.png' %}"
                                                                title="Close"
                                                                alt="Close"></a>
                <a href="{% url 'assess ticket' item.pk %}"><img class="img_size"
                                                                 src="{% static 'images/rate_48.png' %}"
                                                                 title="Assess"
                                                                 alt="Assess"></a>
            {% endif %}
        {% endif %}
{#        <a href="{% url 'event log' item.pk %}"><img class="img_size" src="{% static 'images/eventlog_48.png' %}"#}
        <a href="{% url 'event log' item.pk %}"><img class="img_size" src="{% static 'images/log.jpg' %}"
                                                     title="Event Log"
                                                     alt="Event Log"></a>
    </div>

    <div class="container">
        <label class="col-sm-4 col-form-label">Service Request Details</label>
        <div class="form-group">
            <table class="table">
                <thead>
                <tr class="table-info">
                    <th scope="col">SR#</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Description</th>
                    <th scope="col">Product</th>
                    <th scope="col">Severity</th>
                    <th scope="col">State</th>
                    <th scope="col">Created</th>
                    <th scope="col">Due resolution</th>
                    {% if not item.is_active %}
                        <th scope="col">Resolved</th>
                    {% endif %}
                    {#                    <th scope="col">Creator</th>#}
                    <th scope="col">Customer</th>
                    <th scope="col">Assigned to</th>
                    {% if not user|has_group:"Customer" %}
                        <th scope="col">Assessment (average)</th>
                        <th scope="col">Remark</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ item.pk }}</td>
                    <td>{{ item.summary }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.product }}</td>
                    <td>{{ item.severity }}</td>
                    <td>{{ item.state }}</td>
                    <td>{{ item.register_date|date:"D, d M Y G:i" }}</td>
                    <td>{{ item.resolve_due_date|date:"D, d M Y G:i" }}</td>
                    {% if not item.is_active %}
                        <td>{{ item.resolve_date|date:"D, d M Y G:i" }}</td>
                    {% endif %}
                    <td>{{ item.creator }} {{ item.creator.company.name }}</td>
                    {#                    <td>{{ item.creator.company.name }}</td>#}
                    {% if item.assignee %}
                        <td>{{ item.assignee }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if not user|has_group:"Customer" %}
                        {% if item.rating %}
                            {% percentage item.rating as perc %}
                            {% if perc < 50 %}
                                <td style="color: #b02a37">{{ item.rating }}</td>
                            {% elif perc < 75 and perc > 51 %}
                                <td style="color: blue">{{ item.rating }}</td>
                            {% else %}
                                <td style="color: green">{{ item.rating }}</td>
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if item.is_delayed %}
                            <td style="color:red">Delayed</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if assessments %}
        <div class="container">
            <label class="col-sm-4 col-form-label">Service Request Feedback</label>
            <div class="form-group">
                {% if assessments.count > 1 %}
                    <table class="table table-striped">
                {% else %}
                    <table class="table">
                {% endif %}
                <thead>
                <tr class="table-danger">
                    <th scope="col">Evaluate Reaction</th>
                    <th scope="col">Reaction Notes</th>
                    <th scope="col">Evaluate SR Resolution</th>
                    <th scope="col">Resolution Notes</th>
                    <th scope="col">Overall Satisfaction</th>
                    <th scope="col">Satisfaction Notes</th>
                    <th scope="col">Time</th>
                    <th scope="col">Valuer</th>
                </tr>
                </thead>
                <tbody>
                {% for assessment in assessments %}
                    <tr>
                        <td>{{ assessment.reaction }}</td>
                        <td>{{ assessment.reaction_remark }}</td>
                        <td>{{ assessment.resolve }}</td>
                        <td>{{ assessment.resolve_remark }}</td>
                        <td>{{ assessment.overall }}</td>
                        <td>{{ assessment.roverall_remark }}</td>
                        <td>{{ assessment.event_time|date:"D, d M Y G:i" }}</td>
                        <td>{{ assessment.creator }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if entries %}
        <div class="container">
            <label class="col-sm-4 col-form-label">Ticket Entries</label>
            <div class="form-group">
                {% if entries.count > 1 %}
                    <table class="table table-striped">
                {% else %}
                    <table class="table">
                {% endif %}
                <thead>
                <tr class="table-warning">
                    <th scope="col"></th>
                    <th scope="col">Note</th>
                    <th scope="col">Type</th>
                    <th scope="col">Created</th>
                    <th scope="col">Created By</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ entry.note }}</td>
                        <td>{{ entry.typ }}</td>
                        <td>{{ entry.event_time|date:"D, d M Y G:i" }}</td>
                        <td>{{ entry.creator }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
