{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <label class="col-sm-4 col-form-label">Please, fill in the password fields:</label>
        <div class="form-group">
            <form class="form-control" action="{% url 'change password' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-light" onclick="location.href='{% url 'main page' %}'">Cancel</button>
            </form>
        </div>
    </div>

{% endblock %}

