{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <label class="col-sm-4 col-form-label">Please, fill the registration form</label>
        <div class="form-group">
            <form class="form-control" method="post" action="{% url 'register user' %}">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>

{% endblock %}

