{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="container text-center">
        <label class="col-sm-7 col-form-label" style="color: #b02a37"><h1>FORBIDDEN</h1></label>
        <div><h2>The reasons you obtain this message might be the following:</h2></div><br>
        <div><h2>1. You don't have permission to access this resource</h2></div><br>
        <div><h2>2. You are not allowed to execute the action on this resource</h2></div><br>
        <div><h2>3. Your company contract has expired thus restricting your actions</h2></div><br>
        <div style="color: #b02a37"><h2>If you believe otherwise, please <a href="{% url 'contacts' %}">contact</a> us!</h2></div><br>
    </div>
{% endblock %}