{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <label class="col-sm-7 col-form-label text-center"><h2>Our Contacts</h2></label>
        <br><br>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>SigmaTel Company Departments</th>
                <th>Phone Numbers</th>
                <th>E-mail Addresses</th>
            </tr>
            </thead>
            <tr>
                <td>Customer Support Dept.</td>
                <td>+0111 111 1111</td>
                <td>support@sigma.bg</td>
            </tr>
            <tr>
                <td>Support Contract Dept.</td>
                <td>+0111 111 2222</td>
                <td>contracts@sigma.bg</td>
            </tr>
            <tr>
                <td>Sales Dept.</td>
                <td>+0111 111 3333</td>
                <td>sales@sigma.bg</td>
            </tr>
            <tr>
                <td>Marketing Dept.</td>
                <td>+0111 111 4444</td>
                <td>marketing@sigma.bg</td>
            </tr>
            <tr>
                <td>Customer Care Dept.</td>
                <td>+0111 111 5555</td>
                <td>sales@sigma.bg</td>
            </tr>
        </table>
    </div>

{% endblock %}