{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <label class="col-sm-7 col-form-label text-center"><h2>FAQs</h2></label>
        <h5>
            Q. How can I register to the site in order to be able to obtain support?<br>
            A. You need to provide your company contract number during the registration process.
        </h5><br>
        <h5>
            Q. How can I obtain my company contract number?<br>
            A. You ought to obtain this information internally.
        </h5><br>
        <h5>
            Q. What happens if my company contract expires, and I don’t have a valid user registration?<br>
            A. You are disallowed to register to our support site.
        </h5><br>
        <h5>
            Q. What happens if my company contract expires, but I already have a valid user registration? Can I still
            work on my pending issues?<br>
            A. You are allowed to log in to our support site and work on the active service requests until they are
            resolved.
        </h5><br>
        <h5>
            Q. What happens if my company contract expires, but I already have a valid user registration? Can I see
            my resolved service requests?<br>
            A. You are allowed to log in to our support site and get access to all your resolved service requests.
        </h5><br>
        <h5>
            Q. What happens if my company contract expires, and I have a valid user registration? Can I open new
            service requests?<br>
            A. You are allowed to log in to our support site and get access to your history, but you are disallowed to
            open new service requests.
        </h5><br>
        <h5>
            Q. How can I say my opinion about the service I obtain?<br>
            A. You are able to give your feedback regarding each and every service request you’ve registered. You
            can do it as many times as you want throughout the process. You are also encouraged to do that finally
            upon service request closure.
        </h5>
    </div>

{% endblock %}
